commands:
  01_change_php_tz:
    command: sed -i 's/^date.timezone = .*$/date.timezone = "Asia\/Tokyo"/' /etc/php.ini

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/99_reload_http_server.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      service httpd restart

  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 200M
      post_max_size = 200M
